.DS_Store
*.log

# Frontend
frontend/node_modules/
frontend/dist/
frontend/.env

# Backend
backend/vendor/
backend/.env
backend/.env.backup
backend/.env.production
backend/database/*.sqlite
backend/database/*.sqlite-journal
backend/storage/*.key
backend/public/hot
backend/public/storage

# IDE
.idea/
.vscode/
*.sw?
